* {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 0.67em 0;
    font-family: $font-header;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.08em;
    font-size: 3.75rem;
    line-height: 1.2em;
  }
  html {
    color: $color-gray;
    font-family: $font-main;
    font-size: $font-size;
  }
  
  a {
    text-decoration: none;
    color: $color-light;
  }
  
  .container {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "hd hd hd" "nv nv nv" "lf lf lf" "mn mn mn" "rg rg rg" "ft ft ft";
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-size: cover
  }
  .btn {
    height: 60px;
    display: block;
    font-size: 1.125rem;
    text-align: center;
    padding: 18px $gap;
    letter-spacing: 0.1em;
    transition: background-color 0.5s;
    &__light {
      border: 2px solid $color-light;
      background-color: rgba(255, 255, 255, 0.1);
      min-width: 250px;
    }
    &__light:hover {
      background-color: $color-accent;
    }
    &__light:focus {
      background-color: $color-accent;
    }
  }
  