.contaner1-caption {
  position: relative;
}
.contaner1-caption__content {
  padding-left: $gap;
  padding-right: $gap;
  max-width: 1340px;
  margin: auto;
}

.content__title {
  margin: 0 0 53px 0;
}

.content__actions {
  display: flex;
  justify-content: center;
  .btn:first-of-type {
    margin-right: $gap;
  }
}
