 .menu-navbar {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    letter-spacing: 0.1em;
    justify-items: end;
    &__btn {
      display: none;
    }
    &__list {
      display: grid;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      width: 100%;
      margin: 0 -10px 0 0;
      padding: 0;
      list-style: none;
      grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
      ;
    }
    &__item {
      margin-left: 20px;
    }
    &__link {
      display: block;
      padding: 20px 10px;
      font-size: 1.125rem;
      letter-spacing: 0.09em;
      transition: color 0.5s;
    }
    &__link:hover {
      color: #d66926;
    }
    &__link:focus {
      color: #d66926;
    }
  }
